.idea
.DS_Store

_exemples/*/CMakeFiles
_exemples/*/cmake_install.cmake
_exemples/*/CMakeCache.txt
_exemples/*/Makefile

build*
*/build-code-Desktop-Debug
*/code/.idea
*/code/cmake-build-debug
*/code/CMakeLists.txt.user
*/.idea
*/cmake-build-debug
*/CMakeLists.txt.user
*/CMakeFiles
*/cmake_install.cmake
*/CMakeCache.txt
*/Makefile
/ex7/sequentialite2_tests
